body {
    background-color: antiquewhite;
    border: 10px solid white; 
    padding: 10px; 
    margin: 5px;

} 

img {
    float: left;
    
}


h1 {
    color: red; 
} 
 h2 {
    color :brown;
    border-style: solid;
 } 

 p#Paragraf1 {
    color : blueviolet;
 } 

 h2#Dados {
    background-position: right top;
    margin-top: 50 px ;
    margin-left: 12%;
} 
p#dados {
    background-position: right top;
    margin-top: 50 px ;
    margin-left: 12%;
}
